.message{
    display: flex;
    flex-direction: column;
    word-break: break-all;
    width:47%;
    min-width:47%;
    min-height:66px;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 4px;

    .message-footer-container{
        position: relative;
        display: flex;
        align-self: flex-end;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;

        .actions-container{
            position:absolute;
            height:0;
            width:0;
            right:0;
            bottom:0;
            transition: all 0.1s ease;

            &.active{
                height:28px;
                width:28px;
            }
        }
    }

    &.left{
        align-self: flex-start;
        background: #ffffff;

        .message-footer-container{
            .actions-container{
                background: linear-gradient(to-right,rgba(255,255,255,0) 0%,#ffffff 50%);
            }
        }
    }

    &.right{
        align-self: flex-end;
        background: #0f5fff;

        .message-footer-container{
            .actions-container{
                background: linear-gradient(to-right,rgba(255,255,255,0) 0%,#0f5fff 50%)
            }
        }
    }

    &:hover{
        .message-footer-container{
            .actions-container{
                height: 28px;
                width: 28px;
            }
        }
    }
}